    @{
    ViewData["Title"] = "Sin Acceso";
}

    <!-- Agrega la referencia a Bootstrap (si aún no lo has hecho) -->
    <h1 class="text-center" style="height:100vh">Sin acceso</h1>

    <!-- Agrega la referencia a Bootstrap JS (opcional si necesitas funcionalidades específicas) -->
